
/* Recent Work Carousel 1 - Style 1 */
.recentwork_carousel__crsl { 
	margin:0; 
	padding:0; 
	list-style:none; 
	height:auto;
}
.recentwork_carousel__crsl li {
   float: left; 
   text-align:center; 
   margin:0; 
   padding:0 20px 0 0; 
}
.recentwork_carousel__link {
	display:block; 
	padding: 0; 
	margin:0; 
	line-height:0;
}
.recentwork_carousel__hover {
	display:block; 
	position:relative; 
	overflow:hidden;
}
.recentwork_carousel__hov {
	-webkit-transition: all 0.5s ease-out; 
	transition: all 0.5s ease-out;
}
.recentwork_carousel__link:hover .recentwork_carousel__hov {
	top:0;
}
.recentwork_carousel__link:hover .recentwork_carousel__hov:after {
	opacity:1;
}
.recentwork_carousel__img-wrapper {
	height:165px;
}
.recentwork_carousel__img {
	height:100%; 
	width: 100%;
}
.recentwork_carousel__details {
	-webkit-transition: all 0.5s ease-out; 
	transition: all 0.5s ease-out;
}
.recentwork_carousel__crsl-title {
	font-size:14px; 
	color:#CD2122; 
	padding:10px 0; 
	position:relative; 
	z-index:1;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	 -webkit-transition: transform 0.5s ease-in-out;
       -moz-transition: transform 0.5s ease-in-out;
        -ms-transition: transform 0.5s ease-in-out;
         -o-transition: transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
}
.recentwork_carousel__cat {
	font-size:11px; 
	display:block; 
	color:#343434; 
	line-height:11px; 
	padding-bottom:15px; 
	position:relative; 
	z-index:1;
	-webkit-transition: transform 0.5s ease-in-out;
       -moz-transition: transform 0.5s ease-in-out;
        -ms-transition: transform 0.5s ease-in-out;
         -o-transition: transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
}

.recentwork_carousel__info {  
    opacity:1;
    -webkit-transition: opacity 0.5s ease-out; 
	transition: opacity 0.5s ease-out;
}
.recentwork--dark .recentwork_carousel__cat {
	color:#CBCBCB;
}
.recentwork_carousel__link:hover .recentwork_carousel__crsl-title{
	color:#fff;
	background-color: rgba(0,0,0,0);
	transform: translate(0px, -5%);
	-webkit-transform: translate(0px, -5%);
	-ms-transform: translate(0px, -5%);
}

.recentwork_carousel__link:hover .recentwork_carousel__cat { 
	color:#fff;
	transform: translate(0px, 50%);
	-webkit-transform: translate(0px, 50%);
	-ms-transform: translate(0px, 50%);
}

.recentwork_carousel__link:hover .recentwork_carousel__plus{
	-webkit-transform: translate(0px, 100%);
	-ms-transform: translate(0px, 100%);
	transform: translate(0px, 100%);
}

.recentwork_carousel__link:hover .recentwork_carousel__info{
	opacity:0;
}
.recentwork_carousel__controls {
	margin-bottom: 20px;
}
.recentwork_carousel__controls > a {
	opacity:0.5;
}
.recentwork_carousel__controls > a:hover {
	opacity:1;
}
.recentwork_carousel__details.nopointer {
	pointer-events:none;
}

/* Recent work carousel 2 - style1 */
.recentwork_carousel_v2 {
	position:relative; 
	margin-bottom: 40px;
}
.recentwork_carousel_v2 .recentwork_carousel__controls {
	position:absolute; 
	right:0; 
	top:-30px;
}
.recentwork_carousel_v2 .recentwork_carousel__title + .recentwork_carousel__controls {
	top:5px;
}
.recentwork_carousel_v2 .recentwork_carousel__crsl-wrapper {
	margin-left:-10px; 
	margin-right: -10px;
}
.recentwork_carousel_v2 li {
	padding:0 10px;
}
.recentwork_carousel_v2 .recentwork_carousel__link {
	position: relative;
	overflow: hidden;
}
.recentwork_carousel_v2 .recentwork_carousel__details {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	opacity:0;
	background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%,rgba(255,0,0,0.7)), color-stop(1%,rgba(255,0,0,0.7)), color-stop(100%,rgba(255,0,0,0.7)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,0,0,0.7) 0%,rgba(255,0,0,0.7) 1%,rgba(255,0,0,0.7) 100%);
	background: -webkit-radial-gradient(center, ellipse, rgba(255,0,0,0.7) 0%, rgba(255,0,0,0.7) 1%, rgba(255,0,0,0.7) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,0,0,0.7) 0%,rgba(255,0,0,0.7) 1%,rgba(255,0,0,0.7) 100%); }
.recentwork_carousel_v2 .recentwork_carousel__link:hover .recentwork_carousel__details {
	opacity:1;
}

.recentwork_carousel_v2 .recentwork_carousel__plus {
	position:absolute;
	display:block;
	background-color:#fff !important;
	width:30% !important;
	padding:10px;
	font-size: 16px;
	line-height: 16px;
	color:#cd2122;
	top:55% !important;
	left:35%;
	font-weight: bold;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	-webkit-transition: transform 0.5s ease-in-out;
       -moz-transition: transform 0.5s ease-in-out;
        -ms-transition: transform 0.5s ease-in-out;
         -o-transition: transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
}
.recentwork_carousel_v2 .recentwork_carousel__crsl-title {
    position: absolute;
    font-size: 24px;
    left: 0;
    right: 0;
    padding-top: 80%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    height: 120%;
}

.recentwork_carousel_v2 .recentwork_carousel__crsl-title:before {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 55%;
    width: 80%;
    border-bottom: 2px solid #fff;
}

.recentwork_carousel_v2 .recentwork_carousel__cat {
	position:absolute;
	font-size:16px;
	line-height: 16px;
	top: 50%;
	left: 0;
	right: 0;
	padding: 0;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color:#fff;
}

.recentwork_carousel_v2 .recentwork_carousel__info {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    top: 57%;
    left: 0;
    right: 0;
    padding: 0;
    color: #fff;
    z-index: 99;
}

/* MQ's */
@media (max-width: 991px) {
    .recentwork_carousel li a iframe {
    	width: 100%;
    	height: auto;
    }
}
@media (max-width: 767px) {
    .recentwork_carousel .recentwork_carousel__crsl-title {
    	font-size:13px;
    	line-height: 1.4;
    }
}