/* Icon Box - Default element */
.kl-iconbox {margin-bottom: 30px}
.kl-iconbox__inner {}
.kl-iconbox__icon-wrapper,
.kl-iconbox__title-wrapper,
.kl-iconbox__desc-wrapper,
.kl-iconbox__cta-wrapper {margin-top:0; margin-bottom:15px;}
.kl-iconbox__content-wrapper {overflow: hidden;}
.kl-iconbox__link {}
.kl-iconbox__title,
.kl-iconbox__desc {margin:0;}
.kl-iconbox__icon {line-height: 1; font-size: 42px; -webkit-transition:color .2s cubic-bezier(0.215, 0.610, 0.355, 1.000); transition:color .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);}
span.kl-iconbox__icon {font-size: 42px;}
span.kl-iconbox__icon.kl-iconbox__icon--force-square:before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); line-height: 1;}
img.kl-iconbox__icon {max-width: 100px;}
.kl-iconbox--theme-light,
.kl-iconbox--theme-light a {color:#fff;}
.kl-iconbox--theme-dark,
.kl-iconbox--theme-dark a {color:#323232;}
@media screen and (min-width: 481px){
	/* Floated Icons  */
	.kl-iconbox--fleft .kl-iconbox__icon-wrapper {float:left; margin-right: 20px;}
	.kl-iconbox--fright .kl-iconbox__icon-wrapper {float:right; margin-left: 20px; }
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.kl-iconbox--fleft .kl-iconbox__icon-wrapper ,
	.kl-iconbox--fright .kl-iconbox__icon-wrapper {float:none; margin-left: 0; margin-right: 0; }
}
/* Shaped Icons - Resized */
.kl-iconbox--sh .kl-iconbox__icon-wrapper {position:relative;}
.kl-iconbox--align-left.kl-iconbox--sh span.kl-iconbox__icon,
.kl-iconbox--align-right.kl-iconbox--sh span.kl-iconbox__icon {text-align: center;}
/* Shaped icons - Square */
.kl-iconbox--sh-square span.kl-iconbox__icon {display: inline-block; border-radius: 3px; vertical-align: middle; position: relative; z-index: 1; padding:22px;}
.kl-iconbox--sh-square span.kl-iconbox__icon:after {content:''; position: absolute; top:0; left:0; width:0; height: 100%; z-index: -1; border-radius: 3px; -webkit-transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), left .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), right .2s cubic-bezier(0.215, 0.610, 0.355, 1.000); transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), left .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), right .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);}
.kl-iconbox--sh-square:hover span.kl-iconbox__icon:after { width:120%; left:-10%; }
.kl-iconbox--align-left.kl-iconbox--sh-square:hover span.kl-iconbox__icon:after,
.kl-iconbox--fleft.kl-iconbox--sh-square:hover span.kl-iconbox__icon:after { width:120%; left:-20%; }
.kl-iconbox--align-right.kl-iconbox--sh-square span.kl-iconbox__icon:after,
.kl-iconbox--fright.kl-iconbox--sh-square span.kl-iconbox__icon:after { left:auto; right:0; }
.kl-iconbox--align-right.kl-iconbox--sh-square:hover span.kl-iconbox__icon:after,
.kl-iconbox--fright.kl-iconbox--sh-square:hover span.kl-iconbox__icon:after { width:120%; left:auto; right:-20%; }
/* Shaped icons - Circle */
.kl-iconbox--sh-circle span.kl-iconbox__icon {display: inline-block; border-radius: 50%; vertical-align: middle; position: relative; z-index: 1; padding:22px;}
.kl-iconbox--sh-circle span.kl-iconbox__icon:after {content:''; position: absolute; top:0; left:0; width:100%; height: 100%; z-index: -1; border-radius: 50%; opacity:0; -webkit-transform:scale(0); -ms-transform:scale(0); transform:scale(0); -webkit-transform-origin:50% 50%; -ms-transform-origin:50% 50%; transform-origin:50% 50%; -webkit-transition: -webkit-transform .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity .2s cubic-bezier(0.215, 0.610, 0.355, 1.000); transition: transform .2s cubic-bezier(0.215, 0.610, 0.355, 1.000), opacity .2s cubic-bezier(0.215, 0.610, 0.355, 1.000); }
.kl-iconbox--sh-circle:hover span.kl-iconbox__icon:after { -webkit-transform:scale(1.15); -ms-transform:scale(1.15); transform:scale(1.15); opacity: 1;}
/* Shaped icons - Circle Stroke */
.kl-iconbox--sh-circle-stroke span.kl-iconbox__icon {display: inline-block; border-radius: 50%; vertical-align: middle; position: relative; z-index: 1; padding:22px; -webkit-transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1.000); transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1.000); }