#znhgtfw-shortcodes-modal a:focus {
	outline: none;
	box-shadow: none;
}

.znhgtfw-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.7;
	z-index: 159998;
}

.znhgtfw-modal-wrapper {
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	margin: 0 auto;
	z-index: 159999;
	box-shadow: 0 2px 7px rgba(0,0,0,0.7);
	background: #fff;
}

.znhgtfw-modal-open {
	overflow: hidden;
}

.znhgtfw-modal-header {
	height: 50px;
	border-bottom: 1px solid #eaeaea;
	line-height: 50px;
}

.znhgtfw-modal-title {
	padding: 0 15px;
	font-size: 16px;
	font-weight: 600;
	float: left;
}

.znhgtfw-modal-content-wrapper {
	position: absolute;
	top: 51px;
	bottom: 50px;
	width: 100%;
	border-bottom: 1px solid #eaeaea;
}

.znhgtfw-modal-sidebar {
	background: #f9f9f9;
	width: 300px;
	border-right: 1px solid #eaeaea;
	height: 100%;
	float: left;
}

/* Modal footer */
.znhgtfw-modal-footer {
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 50px;
	width: 100%;
}

.znhgtfw-footer-nav {
	text-align: right;
}
.znhgtfw-footer-nav a {

}

.znhgtfw-button {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	color: #444;
	text-decoration: none;
	padding: 0 25px;
	margin-left: 10px;
}

.znhgtfw-button--danger {
	background: #F44336;
	color: #fff;
	transition: all .5s;
}
.znhgtfw-button--danger:hover {
	color: #fff;
	background: #EF5350;
}

/* Sidebar menu */
.znhgtfw-modal-menu {
 margin: 0;
}
.znhgtfw-modal-menu li {
	margin: 0;
}
.znhgtfw-modal-menu li a{
	font-size: 13px;
	line-height: 44px;
	height: 44px;
	display: block;
	padding: 0 30px;
	color: #444;
	text-decoration: none;
	font-weight: bold;
}
.znhgtfw-modal-menu li.active > a, .znhgtfw-modal-menu li a:hover {
	transition: all .5s;
	background: #eaeaea;
	color: #5b9dd9;
}
.znhgtfw-modal-menu-dropdown {
	background: #fff;
}
.znhgtfw-modal-menu-dropdown li a {
	padding: 0 50px;
}
.znhgtfw-modal-menu-dropdown li a:hover {
	background: #f3f3f3;
}
.znhgtfw-modal-menu li > ul{
	transition: max-height 0.25s ease-out;
	max-height:0;
	overflow:hidden;
}
.znhgtfw-modal-menu li.active > ul {
	max-height:1000px;
	transition: max-height 0.25s ease-in;
}
/* Modal Content */
.znhgtfw-modal-content {
	margin-left: 300px;
	height: 100%;
	top: 0;
	position: absolute;
	right: 0;
	left: 0;
}

/* Nothing selected */
.znhgtfw-shortcode-mngr-nothing-selected {
	width: 100%;
	height: 100%;
}
.znhgtfw-shortcode-mngr-nothing-selected p {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}