body {
    overflow-x:hidden;
}

#sc_outer_box {
    width: 100%;
    border: none;
    padding: 15px;
    position: relative;
    overflow: hidden;
    background-color: #fff
}

#sc_outer_box h3{ 
    color:#CD2122; 
    font-family: 'Montserrat', sans-serif !important;
}

.parcheggio_home{
    text-align:center;
}


#sc_outer_box .form-control{
    display: block;
    width: auto;
    max-width: 100%;
    float: left;
}
#sc_outer_box .row {
    margin-left: 0px;
    margin-right: 0px;
}

#sc_outer_box input, #sc_outer_box select {
    background-color: #f5f5f5;
}
#sc_outer_box .error {
    color: #bb0707;
    text-align: center;
}

#sc_outer_box .round {
   padding-top:5px;
}
#sc_outer_box p {
    margin-bottom: 25px;
}
#sc_outer_box label {
    font-weight: 600;
}

#sc_outer_box .titolo{
    font-weight: 600;
    color: #cd2122;
    text-align:right;
    font-size:18px;
    padding-top: 5px;
    padding-left: 5px;
}

#sc_outer_box h3, #sc_outer_box p {
    padding-left: 20px;
}
#sc_outer_box h3 {
    margin-top: 15px;
    margin-bottom:15px;
}
#sc_outer_box table {
    width: 100%!important;
    margin-bottom: 0px;
}
#sc_outer_box table th {
    border: 1px solid #cccccc!important;
}
#sc_outer_box table td {
    border: 1px solid #cccccc!important;
    text-align: center;
    padding: 0px;
}
#scErrorContainer {
    color: black;
    font-size: 12px;
    margin-bottom: 35px;
    border-radius: 15px;
}
#scErrorContainer ul {
    list-style-type: disc;
    padding: 15px;
    margin: 0;
}
#scErrorContainer li {
    font-size: 13px;
}
#sc_current_step {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    width: 35px;
    height: 35px;
    text-align: center;
    background: #cd2122;
    color: white;
}
#sc_current_step span {
    vertical-align: middle;
}
#sc_current_step h1 {
    margin-top: -5px;
}
.sc_set_right {
    text-align: right;
}
.sc_set_left {
    text-align: left;
}
.sc_float_right {
    float: right;
}
.sc_float_left {
    float: left;
}
.sc_button_half_box {
    width: 50%;
    position: relative;
}
.sc_style.form-control {
    border-radius: 4px!important;
    padding: 6px 6px!important;
    border: 1px solid #cccccc!important;
}
.sc_btn_red button {
    background: #f5f5f5!important;
    color: #cd2122 !important;
    height: 40px;
    color: white;
    font-weight: bold;
}
.sc_btn_blue button {
    background: #cd2122!important;
    height: 40px;
    color: white;
    font-weight: bold;
    width:100% !important;
}


.sc_btn_blue button:hover {
    color: white;
}

#sc_lang_container{
    margin-left: -15px;
    margin-right: -15px;
    background: #004287;
    position: relative;
    color: white;
    margin-bottom: -40px;
    padding: 6px;
    text-align: right;
}

.sc_set_underlined{
    text-decoration:underline;
    font-weight:bold;
}

#sc_lang_container a{
    color:white!important;
}

#dateFromSelector, #dateToSelector, #promotional_code {
    max-width: 110px !important;
}
