/*
Theme Name:     Kallyas Child Theme
Theme URI:      http://kallyas.net/demo/
Description:    Child theme for the Kallyas theme
Author:         Hogash
Author URI:     http://themeforest.net/user/hogash
Template:       kallyas
Version:        4.0.0
Tags: dark, light, left-sidebar, right-sidebar, fluid-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, full-width-template, theme-options, translation-ready
Text Domain:  zn_framework
*/



/*
Theme Name:     Kallyas Child Theme
Theme URI:      http://kallyas.net/demo/
Description:    Child theme for the Kallyas theme
Author:         Hogash
Author URI:     http://themeforest.net/user/hogash
Template:       kallyas
Version:        4.0.0
Tags: dark, light, left-sidebar, right-sidebar, fluid-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, full-width-template, theme-options, translation-ready
Text Domain:  zn_framework
*/




@font-face {
    font-family: Sottotitolo;
    src: url(../../uploads/fonts/Brandon_bld_it.otf);
}

@font-face {
    font-family: Paragrafo;
    src: url(../../uploads/fonts/Brandon_reg.otf);
}

@font-face {
    font-family: Bold;
    src: url(../../uploads/fonts/Brandon_bld.otf);
}

@font-face {
    font-family: Black;
    src: url(../../uploads/fonts/Brandon_blk.otf);
}

body{
    font-family: Paragrafo !important;
    font-size:16px !important;
}

.zn_buttons_element span {
    white-space: normal;
    display:inline;
}

.prenota-hotel{
	margin-left: 8%;
	margin-right: 8.5%;
}

.categorie_destinazioni{ 
   width:110%;
}

.categorie_destinazioni .kl-iconbox__icon-wrapper {
    margin-bottom: 5px;
}

.categorie_destinazioni p{
    font-size: 13px !important;
    line-height: 15px !important;
    margin: 5px 0 5px 0;

}

.categorie_destinazioni{
    margin: 15px 0 15px 0;
}

.recentwork_carousel_v2 .recentwork_carousel__crsl-title{
    padding-top:70%;
}

h1{
    font-family:"Montserrat" !important;
    font-size:36px !important;
    text-transform:uppercase !important;
    line-height: 40px !important;
    color: #FFF;
    font-weight: 700 !important;
}


h3{
    font-family:"Montserrat" !important;
    font-size:30px !important;
    text-transform:uppercase !important;
    line-height: 30px !important;
    font-weight: 700 !important;
}

.noleggi h3 {
    font-size: 16px !important;
}


h3.m_title.m_title_ext.text-custom.latest_posts-title > a{ 
    color:#535353; font-size:20px; font-style: normal; font-family: "Montserrat" !important;
}

h4{
    font-family:"Montserrat" !important;
    font-size:24px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
}

.grid-ibx__title-wrp h4{
    font-size: 18px !important;
}

.zn_text_box a {
    color: #cd2122 !important;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.btn span {
    text-transform: uppercase !important;
    font-family:"Montserrat" !important;
    font-weight: 700 !important;
}



.home_banner_title, .home_banner_caption{
    text-shadow: 2px 2px 10px #000;
}


.eluid73819f7a {
    margin-right: 8%;
    margin-left: 8%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.vr-tabs-kl-style-2 .vr-tabs-nav {
    width: 20% !important;
}

.vr-tabs-kl-style-2 .vr-tabs-content {
    width: 80% !important;
}

.home .recentwork_carousel_v2 .recentwork_carousel__plus {
    width: 40% !important;
    left: 30%;
}

/* 
Stile blocco titoli sezioni
 */

.title_decor{
    background-image: url(../../uploads/custom/home/title_bar.png);
    background-repeat: no-repeat;
    position: relative;
    padding: 15px 0px 15px 0px;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
    height: 90px;
    margin-left: -300px;
}

.title_decor .tbk__title {
    margin-top: 0;
    margin-bottom: 0px;
    margin-left:300px;    
}

.home_dest .caroufredsel_wrapper{
    min-height:500px !important;
}

.recentwork_carousel_v2 {
    margin-bottom: 0px !important;
}

.recentwork_carousel__img-wrapper{
    height: 500px;
}

/*.glyphicon {
    line-height: 1 !important;
}



.title_decor2{
    position: relative;
    width: 700px;
    padding: 10px 100px 10px 180px;
    
    text-align:left;
    position: relative;
    margin-left: -182px;
    margin-bottom:50px;
    color: #fff;
    background: #cd2122;
    background: -moz-linear-gradient(left, #cd2122 50%, #B51E1E 100%); 
    background: -webkit-linear-gradient(left, #cd2122 50%,#B51E1E 100%); 
    background: linear-gradient(to right, #cd2122 50%,#B51E1E 100%); 
    z-index:0;
    
}

.title_decor2:after{
   content: " ";
    position: absolute;
    display: block;
    width: 105%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius:5px;
    
    background: #cd2122; 
    background: -moz-linear-gradient(left, #cd2122 50%, #B51E1E 100%); 
    background: -webkit-linear-gradient(left, #cd2122 50%,#B51E1E 100%); 
    background: linear-gradient(to right, #cd2122 50%,#B51E1E 100%); 
    border-bottom: 5px solid #B51E1E;
    border-right: 20px solid #B51E1E;
    
    transform-origin: bottom left;
    -ms-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);
}*/

/* 
da/per l'aeroporto page
 */
.tab-info-parcheggio:after{
    display:none;
}

/* 
b2b homepage banner
 */
.b2b_banner .hover-box__content:after {
    display: none !important;
}
.b2b_banner .hover-box.hover-box-2 {
   min-height: 0px;
}

.b2b_banner .action_box {
    border:none;
}

.b2b_banner .action_box h4{
    font-weight:600;
    font-size:35px;
}

.b2b_banner .action_box h5{
    opacity: 0.8;
}


.compagnie h3{
    color: #666 !important;
    font-size: 18px !important;
}

.blog-post a{
    color: #666;
}



.vertical_icon .vr-tabs-nav-item.active .vr-tabs-nav-icon, .vertical_icon .vr-tabs-nav-item.active .vr-tabs-nav-link {
    color: #cd2122;
    font-size: 20px ;
}

.icon_services .grid-ibx__title {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    font-style: normal;
    color: #666;
    padding: 10px;
}

.hit-the-floor {
color: #fff;
font-size: 70px;
font-weight: bold;
line-height: 70px;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
  text-align: center;
}

.home_message_box  {
    border: none;
    background-color: rgb(255, 138, 0) !important;
    padding:10px;
    display: none;
}
.admin-bar .home_message_box {
    display:block;
}

.home_message_box h4 {
    font-weight: 600;
}

.home_message_box .btn {
    display:inline;
}

.home_message_box .action_box-subtitle {
    opacity: 1;
    font-size:14px;
}

   
/* 
Home: pop-up modale commerciale
 */

.modal_popup .media-container-pb.media-container-pb--alg-center{
    margin:0;
}
.modal_popup .modal_popup_image{
    padding:0;
}
.modal_popup .modal_popup_text{
    padding:25px 0px 0px 50px;
}
.modal_popup .modal_text{
    color: #FFF;
    margin-top:20px;
}

.modal_popup .modal_text_block{
    background-color: #FFF;
    margin: 0px -50px 0px -20px;
    padding: 15px 40px;
}

.modal_popup .modal_text_block h3,.modal_popup .modal_text_block h6, .modal_popup .modal_button span{
    color:#cd2122;
}
.modal_popup .modal_button{
    margin-top: 20px;
}
 
.modal_popup_image .video-grid-overlay::after{
    background-image:none !important; 
}

.action_box:after,.action_box:before{
    display: none;
}

.site-footer {
    border-top: none !important; 
  
}



.destinazioni_tab li{
    padding: 20px;
    color: #cd2122;
    width: 50%;
}

.tab_v_destinazioni .vr-tabs-nav-item a{
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: rgba(102,102,102,0.5);
    font-family: Black;
}
.tab_v_destinazioni li{
    height:50%;
}

.tab_v_destinazioni .vr-tabs-nav-item.active .vr-tabs-nav-link{
    color:#cd2122;
}

.home .vr-tabs-kl-style-2 .vr-tabs-nav-link{
   padding: 70% 20px 20px 25px;
}

.home .vr-tabs-kl-style-2 .vr-tabs-nav-link{
    background-image: none !important;
    background-color: #dedede !important;
}

.home .vr-tabs-kl-style-2 li.active .vr-tabs-nav-link{
    background-color: #fff !important;
}
.home .vr-tabs-kl-style-2 li .vr-tabs-content {
    padding: 25px 25px;
    background-color: #fff;

}

.home .vr-tabs-kl-style-2 .vr-tabs-nav-link .vr-tabs-nav-icon {
    color: rgba(102,102,102,0.5);
    right: 37%;
    top: 30%;
    font-size: 60px;
}

.home .vr-tabs-nav-item.active .vr-tabs-nav-link .vr-tabs-nav-icon,  .home .vr-tabs-nav-link:hover .vr-tabs-nav-icon{
    color: #cd2122;
}


/* 
Home: Tab orizzontali prenota online
 */

 .tab_prenota li a{
   padding: 0 !important;
}

.tab_prenota ul.nav.nav-alignment--center > li {
    width: 18%;
    background-color: #fff;
    margin: 10px;
    border:none;
    padding: 10px !important;
    font-family: Bold;
}

.tab_prenota ul.nav.nav-alignment--center > li.active {
    width: 24.5%; 
    background-color: #cd2122;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.33);
    margin: 10px;
    padding: 10px !important;
}

.tab_prenota li.active a span {
    color: #fff;
    font-size:14px;
}


.tab_prenota li a span {
    color: #666;
    font-size:14px;
}

#skyscanner-white-label li.active a span{
    color: #cd2122;
    font-size:16px;
}

.parcheggio-iframe{
    /*overflow-y:scroll !important;
    overflow-x:hidden !important;
    overflow:hidden;*/
    /*height:100%; */
    /*width:100%;*/
    /*height:485px !important;*/
    width:85%;  
    margin-left:7.5%; 
    margin-right:7.5%;  
}

.servizi-iframe{
    /*overflow-y:scroll !important;
    overflow-x:hidden !important;
    overflow:hidden;*/
    /*height:100%; */
    /*width:100%;*/
    height:500px !important;
    width:85%;  
    margin-left:7.5%; 
    margin-right:7.5%;  
}



/* 
Home: Tab orizzontali icone servizi
 */

.icone_servizi h4{
    font-size:18px !important;
}
.tab_servizi ul.nav.nav-alignment--center > li {
    width: 28.8%;
    background-color: #f5f5f5;
    border: none;
    margin: 4.57px;
    padding: 5px;
    font-family: Bold;
}
.tab_servizi ul.nav.nav-alignment--center > li.active {
    width: 40%;
    background-color: #666;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.33);
    padding: 10px;
}

.tab_servizi li.active a span {
    color: #fff;
    font-size:20px;
}

.tab_servizi li a span {
    color: #666;
    font-size:16px;
}

.tab_servizi .grid-ibx__title-wrp h4{
    font-size: 18px !important;
    color: #666;
}

/* 
Home: Carousel icone servizi
 */
.icone_servizi_carousel .logo_showcase .slick-slide img {
    border: none !important;
}

.icone_servizi_carousel .logo_showcase .slick-slide .logo-title {
    color: #666 !important;
    padding: 10px 0 !important;
    font-family: Black !important;
    font-size: 14px !important;
}

.icone_servizi_carousel .logo_showcase .slick-dots li button {
    border: 1px solid #666 !important;
}

.icone_servizi_carousel .slick-dots[style]{
    display:none !important;
}



.btn_progetti .hover-box.hover-box-3{
    min-height:150px;
}

.btn_progetti h3[style]{
    margin-top:35px !important;
}



.sliding-details-content{
    padding: 200px 40px !important;
    background: rgba(255, 0, 0, 0.7) !important;
}

.destinazioni .sliding-details-title {
    line-height: 50px;
    color: #fff;
    border-bottom: 3px solid #fff;
    text-align: center !important;
}

.destinazioni .image-boxes-text {
    font-size: 16px;
    color: #fff;
    text-align:center;
}


.destinazioni_box_title{
    padding-top:40%;
    -webkit-transition: transform 0.5s ease-in-out;
       -moz-transition: transform 0.5s ease-in-out;
        -ms-transition: transform 0.5s ease-in-out;
         -o-transition: transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
}   

.destinazioni_box_title h3{
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
    
.destinazioni_box_title h4{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-align:center;
    font-style: italic;
}

.destinazioni_box_description p{
    font-size: 16px;
    color: #fff;
    text-align:center;
    opacity:0;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    margin-top: -20%
}

.destinazioni_box .destinazioni_box_button{
    opacity:0;
    
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.destinazioni_box .btn-halfwidth {
    width: 60%;
    padding: 10px;
}

.destinazioni_box .destinazioni_box_button .btn-element span{
    color:#cd2122;
}

.destinazioni_box .kl-bg-source__overlay[style]{
        background-color: rgba(0,0,0,1) !important;
}
.destinazioni_box .kl-bg-source__overlay{
    opacity:0.2;
    -webkit-transition: opacity 0.5s ease-in-out;
       -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
         -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
}

.destinazioni_box:hover .kl-bg-source__overlay[style]{
    background-color: rgba(255,0,0,1) !important;
}
.destinazioni_box:hover .kl-bg-source__overlay{
    opacity:0.7;
}

.destinazioni_box:hover .destinazioni_box_description p{
    opacity:1;
    transform: translate(0px, 5%);
}
.destinazioni_box:hover .kl-bg-source__overlay{
    opacity:0.8;
}
.destinazioni_box:hover .destinazioni_box_title{
    transform: translate(0px, -15%);
}

.destinazioni_box:hover .destinazioni_box_button{
    transform: translate(0px, 20%);
    opacity:1;
}


.destinazioni_non_perdere .stepbox4-box:hover .stepbox4-icon {
    font-size: 50px !important;
}

.tips .post-details{
    display:none !important;
}


.destinazioni_top h3{
    font-size: 20px !important;
}

.destinazioni_top .destinazioni_box:hover .destinazioni_box_button{
    transform: translate(0px, 10%);
    opacity:1;
}

.destinazioni_top .destinazioni_box:hover .destinazioni_box_title{
    transform: translate(0px, -10%);
}


.gallery_destinazioni .gridPhotoGallery__link:after {
    content: attr(title);
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: -30px;
    height: 50px;
    padding: 5px 0% 5px 0%;
    background-color: rgba(255,0,0,0.7);
}

.gallery_destinazioni .gridPhotoGallery__item .kl-icon {
    top: 65%;
}


.tips .kl-iconbox {
    margin-bottom: 0px !important;
}

.mfp-counter {
    padding: 15px;
}

.mfp-bottom-bar {
    margin-top: -90px;
    background-color: #cd2122;
    height: 50px;
    padding: 15px;
    font-size: 18px;
}


.wpcf7 label {
    width: 100%;
}
.subheader-maintitle{
    font-size: 50px;
    font-weight: 600;
    text-shadow: 5px 5px 10px #000;
}
a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
.info_tariffa{
    padding: 15px;
}
.sala_genova li{
    width: 33.33%;
}
.meet_greet li{
    width: 50%;
}

.page-id-2022 .pricing-table-element .plan-column .plan-title {
    DISPLAY: NONE;
}
.page-id-2022 .pricing-table-element .subscription-price .inner-cell {
    DISPLAY: NONE;
}

.page-id-2022 .pricing-table-element .plan-column ul li:last-child .inner-cell {
    height: 50px;
}


.latest_posts2-post {
    margin-bottom: 0px;
    padding: 15px;
    border-bottom: 1px solid #E3E3E3;
    overflow: hidden;
    background-color: #fff;
}

.social-share {
    margin: 0px 0px 40px;;

    text-align: left;
}
.social-share-item {
    margin-left: 0px;
    width: 90px;
    max-height: 20px;
    vertical-align: top;
}

.widget {
    margin-bottom: 0px !important;
}

.site-footer .widgettitle {
    font-size: 18px;
    color: #cd2122;
    text-shadow: none;
    margin: 0 0 10px;
    padding-bottom: 0;
    text-transform: none;
    font-weight: 700;
}

#footer h3{
    font-size: 20px !important;
    color: #FFF !important;
}

.widget_zn_mailchimp{
    margin-bottom: 50px !important;
}


.home_icons{
    margin: 6.5% 2% 2% 2%;
}
.parcheggio{
     background-color: #004287;
}
.grigio{
    background-color: #f5f5f5;
    margin-bottom: 2%;
    padding-left: 2%;
}
.grid-ibx--style-lined-center .grid-ibx__row .grid-ibx__item:hover{
    background-color:#cd2122;
    color: #FFF;
}

.tab_servizi .grid-ibx--style-lined-center .grid-ibx__row .grid-ibx__item:hover{
    background-color:#666;
    color: #FFF;
}

 .grid-ibx--style-lined-center .grid-ibx__row .grid-ibx__item:hover h4{
    color: #FFF;
}

.meteo p {
margin: 0px !important}



/* 
Tabella voli in tempo reale
 */


.voli_home li, .voli_volare li{
width: 50%;
vertical-align: middle;
}

.voli_home li.active a,.voli_volare li.active a{
vertical-align: middle;
color: #FFF}

.voli_home ul, .voli_volare ul{
font-size: 24px;
font-family: Bold;
background-color: #666666;
color: #FFF !important;
}

.voli_home ul.nav > li.active > a, .voli_volare ul.nav > li.active > a  {
background: #cd2122;
border: none;
padding-top: 20px;
border-bottom: 0;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
color: #fff;
height: 70px;
}

.voli_home ul.nav > li> a, .voli_volare ul.nav > li> a {
border: none;
padding-top: 20px;
border-bottom: 0;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
color: #fff;
height: 70px;
}

.voli_home ul.nav > li, .voli_volare ul.nav > li{
margin-bottom: 0px;}

.tabella_voli{
    font-size: 11px !important;
}

.voli_home td, .voli_home th{
    padding-left: 2%;
}

.iosslider-slideshow {
    width: 65% !important;
    float:left;
}
#orario_arrivi_low a, #orario_partenze_low a{
    color: #cd2122 !important;
}

#orario_arrivi_low, #orario_partenze_low {
    bottom: 0;
    position: absolute;
    background-color: #fff;
}

#inner-table-voli{
    max-height: 250px;
    overflow-y: hidden;
}






.awesome-weather-current-temp {
    font-size: 40px;
}

.awesome-weather-wrap {
    font-size: 12px;
}

.tabs_style4 .tab-content {
    padding: 0px !important;
}

.tabs_style4 .tab-content td, .tabs_style4 .tab-content th {
    padding: 0;
}

.tabs_style4 .tab-content {
    border: none;
}

.tabs_style4 .tab-content td, .tabs_style4 .tab-content th {
    padding:1%;
}
.voli_home #posizione{
    height: 290px !important;
    max-height: 290px !important;
    background-color:#f5f5f5;
}

.voli_home ul.nav.nav-alignment--center > li {
    float: left!important;
}

.voli_volare #inner-table-voli{
    max-height: 100%;
    overflow-y: hidden;
}



.home_banner_title{
    font-family:"Montserrat" !important;
    font-weight: 700 !important;
   
}
.home_banner_caption{
    font-family:"Montserrat" !important;
}




/* 
Pagina Contatti
 */

.v_contatti h3{
    font-size: 18px !important;
}



/* 
Form Lost&Found
 */
.lost_found_iframe{
    height: 220px;
    background-color: #f5f5f5;
    overflow: hidden;
    width:100%;
    padding: 0px 20px 20px 20px;
}

.lost_found_iframe h1{
    color: #cd2122;
}

.lost_found_iframe input[type="text"]{
    color: #4d4d4d;
    background: #fff;
    padding: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
    display: inline-block;
    border: none !important;
    height: 40px;
    width:300px;
}

.lost_found_iframe button{
    margin-left: 10px;
    width: 120px;
    background-color: #cd2122;
    -webkit-appearance: button;
    cursor: pointer;
    color: #fff !important;
    text-shadow: none;
    padding: 10px 20px;
    line-height: 1.6;
    box-shadow: none;
    font-size: 13px;
    font-weight: 700;
    border: none !important;
    border-radius: 3px;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
}
.codice_wt{
    
    color:#cd2122;
    font-size:16px;
}



.lostefound_table{
    //padding: 100px;
}



.lost-found-iframe{
height: 310px;
width:100%;
overflow:hidden;
margin:0px;
}

/* 
Form Permessi
 */

.form_permessi .titolo{
    font-family:"Montserrat" !important;
    font-weight: 700 !important;
    font-size:22px !important;
    text-transform:uppercase !important;
    line-height: 22px !important;
    color: #cd2122;
}

.form_permessi .descrizione{
    font-weight: normal;
}
.form_permessi a{
    color: #cd2122 !important;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}
.form_permessi .privacy {
    float: left;
    width:auto !important;
    font-size: 30px;
}
.form_permessi label {
    display: block;
    float: left;
    margin: 2% !important;
}
.form_permessi .half {
    width: 45% !important;
}

.form_permessi .third {
    width: 29% !important;
}

.form_permessi .wpcf7-recaptcha{
    float:left;
    margin:2% !important;
}

.wpcf7 input[type="submit"]:enabled{
    background-color: #cd2122;
    color: #FFF;
}

.wpcf7 input[type="submit"]:disabled{
    background-color: #ccc;
    color: #ddd;
    
}

/* 
Form Safety
*/
.textSafety{ height:100px !important; }



@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) { 

   /* .rev_slider, .tp-shape{
        height: 600px !important;
    }

    .eluid86a8728d {
        height: 600px !important;
    }*/
    .tabs_style4 .tab-content {
        border: none;
        min-height: 270px;
    }
}


/* 
Destinazioni:sidebar
 */

 .gray_sidebar{
    background-color: #f1f1f1;
    padding: 30px !important;
 }
.destinazione_right{
    padding: 30px !important;
 }
.tips h3{
    font-size: 18px !important;
}
.programmazione td{
    width:12.1%;
    padding:2px;
}

.programmazione{
    width: 100%;
    text-align:center !important;
}

.programmazione th{
    text-align:center !important;
    color: #cd2122;
    font-size: 18px;
}

.programmazione tr:nth-child(even) {
    background-color: #fff;
}

.programmazione tr{
    
}

.programmazione td:first-child {
    width: 15%;
    color: #666;
    font-size: 14px;
    text-align:right;
}




/* -------------------------------------------------
----------------------MEDIA QUERIES-----------------  
---------------------------------------------------*/



/* 
------------------------TABLET-----------------
 */

@media screen and (min-width: 1200px){
   .genova-city{
       margin-top: -45px;
       padding-left: 25px;
   }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

.hcsb_responsive_tablet {
    width: 100% !important;
}

.home_banner_title{
    font-family:"Montserrat" !important;
    font-weight: 700 !important;
    white-space: normal !important;
    line-height: 60px !important;
width: 600px !important;

}
.home_banner_caption{
    font-family:"Montserrat" !important;
white-space: normal !important;
    width: 600px !important;
    line-height: 30px !important;
}

#rev_slider_2_1 .uranus.tparrows:before {
    font-size: 20px;
}


.logosize--contain .site-logo-img {
    height: 90%;
    padding: 0px !important;
    width: auto;
}

.fxb-grow-0{
    margin-left: -10px;
}

.tbk__title {
    font-size: 32px !important;
}
#posizione {
    height: 309px;
    max-height: 309px;
}

.eluid86a8728d {
    height: 580px !important;
    width: 45%;
}

.eluid94e1642a{
    width:55%;
}
.tabs_style4 .tab-content {
    border: none;
    min-height: 270px;
}

.titoli-voli span{
    font-size: 18px;
}

.grid-ibx--theme-light .grid-ibx__icon, .grid-ibx__title {
    font-size: 30px;
}
.eluid32ea90d7,.eluidbb216345{
    width: 100%;
}
.image-boxes-title {
    font-size:  30px !important;
}

.tabs_style4 .tab-content td, .tabs_style4 .tab-content th {
    padding:1%;
}
#orario_arrivi_center, #orario_arrivi, #orario_partenze_center, #orario_partenze{
    font-size: 12px;
}

/* 
Homepage
 */

.prenota-hotel {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.vr-tabs-kl-style-2 .vr-tabs-nav {
    width: 30% !important;
}

.vr-tabs-kl-style-2 .vr-tabs-content {
    width: 70% !important;
}


.section-sidemargins .zn_section_size.full_width {
    margin-left: 0px !important;
    margin-right: 0px !important;
}


.eluid73819f7a {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.tab_prenota ul.nav.nav-alignment--center > li.active {
    width: 35%;
    margin: 10px;
    padding: 10px !important;
}
.tab_prenota ul.nav.nav-alignment--center > li {
    width: 28.3%;
    margin: 10px;
    padding: 10px !important;
}

.home_message_box {
    padding: 20px;
}


.home_message_box .action_box-text {
    margin-bottom: 15px;
}

.home_message_box .action_box-subtitle {
    font-size: 13px;
}


.recentwork_carousel_v2 .recentwork_carousel__plus {
   
    font-size: 12px;
    line-height: 12px;
}

.home .vr-tabs-kl-style-2 .vr-tabs-nav-link {
    padding: 90% 20px 20px 25px;
}

.recentwork_carousel__img-wrapper[style]{
    height: 450px !important;
}

.home_dest .caroufredsel_wrapper {
    min-height: 450px !important;
}

.home .vr-tabs-kl-style-2 .vr-tabs-nav-link .vr-tabs-nav-icon {
    right: 33%;
}

.parcheggio_iframe #sc_outer_box {
    width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
}
#sc_outer_box {
    width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.parcheggio-iframe{
    height: 540px !important;
    margin: 0px !important;
    width: 100% !important;

}

.servizi-iframe{
    height: 540px !important;
    margin: 0px !important;
    width: 100% !important;

}

.sh-component {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 5px;
}




#posizione .testo {
    font-size: 9px;
}


.lost-found-iframe{
height: 300px;
}

 .gray_sidebar{
    width: 100% !important;
}

.destinazione_right{
    width: 100% !important;
    padding-left:0 !important;
    padding-right:0 !important;
}


.grid_azienda .grid-ibx__item {
    width: 25% !important;
    font-size: 14px !important;
}

.grid_azienda .grid-ibx__title-wrp h4 {
    font-size: 14px !important;
}


}



/* 
------------------------SMARTPHONE-----------------
 */


@media (max-device-width: 767px){

.site-header .sh-component {
    margin: 5px;
}

.subheader-maintitle {
    font-size: 40px !important;
}
.footer-copyright-img{
    float: inherit;
    margin-left: auto;
margin-right: auto;
display:block;
width: 70%;
}

.prenota-hotel {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.home_banner_title{
    font-family:"Montserrat" !important;
    font-weight: 700 !important;
    white-space: normal !important;
    line-height: 30px !important;
width: 230px !important;

}
.home_banner_caption{
    font-family:"Montserrat" !important;
white-space: normal !important;
    width: 230px !important;
    line-height: 15px !important;
}

#rev_slider_2_1 .uranus.tparrows:before {
    font-size: 20px;
}

.tp-leftarrow{
left: -30px !important;
}
.tp-rightarrow{
left: 110% !important;
}

.genova-city{
    padding-top: 10px;
}


.logo_showcase img{
max-width: 80%;}


.voli_home td, .voli_home th {
    padding-left: 1%;
    font-size: 8px;
}

.section-sidemargins .zn_section_size.full_width {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.zn_section.eluid1b3b7015 {
    padding: 0px!important;
}

.tab_prenota ul.nav.nav-alignment--center > li.active {
    width: 100%;
    margin: 5px 0px 0px 0px !important;
    padding: 10px !important;
}

.tab_prenota ul.nav.nav-alignment--center > li {
    width: 100%;
    margin: 5px 0px 0px 0px !important;
    padding: 10px !important;
}
.eluid73819f7a {
    margin-right: 0%;
    margin-left: 0%;
}
.col_voli_home{
    padding-top: 10px;
    padding-bottom: 10px;
}
.vr-tabs-kl-style-2 .vr-tabs-nav {
    width: 100% !important;
}

.vr-tabs-kl-style-2 .vr-tabs-content {
    width: 100% !important;
}

.tab_v_destinazioni li {
    height: 50%;
    width: 50%;
    float: left;
}

.btn span {
    font-size: 12px !important;
}

.eluidfb09c454 .btn-element-0 .btn-element-icon{
    margin-right: 10px !important;
}

.home .vr-tabs-kl-style-2 li.active .vr-tabs-nav-link, .home .vr-tabs-kl-style-2 .vr-tabs-nav-link {
    font-size: 12px !important;
    width: 100% !important;
    padding: 50% 5px 5px 5px;
}

.home .vr-tabs-kl-style-2 .vr-tabs-nav-link .vr-tabs-nav-icon {
    right: 30%;
    top: 20%;
}

.eluid1e74ce4d .media-container__link {
    font-size: 16px;
    width: 95%;
}

.parcheggio-iframe{
    overflow:hidden;
    height:640px !important;
    width:100%;
    margin-left:0%;
    margin-right:0%;
}

.servizi-iframe{
    overflow:hidden;
    height:640px !important;
    width:100%;
    margin-left:0%;
    margin-right:0%;
}


/*   PAG VOLARE*/

.page-subheader.uh_zn_def_header_style .ph-content-wrap {
    padding-top: 110px !important;
}

.voli_volare ul.nav > li {
    float: left !important;

}

.voli_volare ul.nav > li > a {
    padding: 20px 20px !important;
    font-size: 18px!important;
}

/*   PAG DA/PER L'AEROPORTO*/

.eluid83e1b2f1 .grid-ibx__item {
    height: 200px !important;
}


/* DESTINAZIONI */
.destinazione_right {
    padding: 0px !important;
}

.single-portfolio .row.gutter-md > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

.categorie_destinazioni p{
    font-size: 11px !important;
    line-height: 15px !important;
    margin: 5px 0 5px 0;

}

.categorie_destinazioni{
    margin: 15px 0 15px 0;
}

.tabella_voli {
    font-size: 8px !important;
}


/* LOST & FOUND */

.lost_found_iframe {
   height: 390px;
}
.lost-found-iframe {
    height: 480px !important;
}

}
