<div class="znhgtfw-modal-wrapper">
	<div class="znhgtfw-modal-header">
		<div class="znhgtfw-modal-title">
			This is the title
		</div>
		<button type="button" class="button-link media-modal-close">
			<span class="media-modal-icon">
				<span class="screen-reader-text">Close media panel</span>
			</span>
		</button>
	</div>
	<div class="znhgtfw-modal-content-wrapper">
		<div class="znhgtfw-modal-sidebar"></div>
		<div class="znhgtfw-modal-content">
			<div class="znhgtfw-shortcode-mngr-nothing-selected">
				<p>Choose a shortcode from the sidebar to get started.</p>
			</div>
		</div>
	</div>
	<div class="znhgtfw-modal-footer">
		<div class="znhgtfw-footer-nav">
			<a href="#" class="znhgtfw-button">Save changes</a>
			<a href="#" class="znhgtfw-button znhgtfw-button--danger">Close</a>
		</div>
	</div>
</div>
<div class="znhgtfw-modal-backdrop"></div>