.zn-about-container { margin: 20px 20px 20px 0; padding: 25px; background: #fff;}

/* Resets */
.zn-about-container a:focus { box-shadow:none; -webkit-box-shadow:none; }
.zn-about-container p { margin-top: 0; }


.zn-about-header { padding-top: 20px;margin-bottom: 50px;}
.zn-about-header > h2 { font-size: 36px; line-height: 1; display: inline-block; padding: 0; font-weight: 700; margin-bottom: 10px; color: #CD2122;}

/* Theme version block */
.zn-theme-version-number { font-size: 16px; color: #7b7b7b; line-height: 1; }

/* Content */
.zn-about-content-wrapper { }

.zn-about-box { border: 1px solid #EAEAEA; background-color: #fff; padding: 30px 0px 0; text-align: center; box-shadow: 0px 5px 5px -4px #D2D0D0; }

/* navigation */
.zn-about-navigation-wrapper {margin-bottom: 60px;}
.zn-about-navigation {display: table; list-style: none; text-align: center; border-bottom:1px solid #e2e2e2;width: 100%;table-layout: fixed;margin-top: 0;}
.zn-about-navigation li {display: table-cell; padding: 0 10px;margin-bottom: -1px; cursor: pointer;height: 60px;vertical-align: middle;border-bottom: 1px solid transparent;}
.zn-about-navigation li:after { padding: 0 5px; }
.zn-about-navigation li a { color:#b0b0b0; text-decoration: none; font-size: 17px;}
.zn-about-counter { border-radius:50%; width: 30px; line-height: 26px; border:2px solid #dfdfdf; display: inline-block; font-size: 13px; margin-right: 15px;vertical-align: middle;}
.zn-about-navigation li.active, .zn-about-navigation li:hover {border-bottom-color: #333;}
.zn-about-navigation li.active a, .zn-about-navigation li:hover a { color:#484848; }
.zn-about-navigation li.active .zn-about-counter, .zn-about-navigation li:hover .zn-about-counter { color:#484848; border-color:#484848; }
/* MQ's */
@media (max-width:1599px) {
   .zn-about-navigation li a { font-size: 14px; }
}
@media (max-width:1440px) {
   .zn-about-navigation li a { display:block; margin-bottom:20px }
   .zn-about-navigation .zn-about-counter { display:block;margin: 0 auto 15px; width: 22px; line-height: 18px; font-size:11px;}
}


/* Tabs */
.zn-about-tabs { overflow: hidden; position: relative; padding: 0; }
.zn-about-tab { opacity: 0; visibility: hidden; height: 0; overflow: hidden; -webkit-transition: all 0.15s ease-out; transition: all 0.15s ease-out;}
.zn-about-tab.active { opacity: 1; visibility: visible; height: auto }

/* Text lead */
.zn-lead-title {font-size:24px; margin-bottom: 30px; margin-top: 0; font-weight: 300; line-height: 1.3}
.zn-lead-text {color:#646464; margin-bottom: 20px;}
.zn-lead-text--larger {font-size: 16px; line-height: 1.6;}

/* Actions */
.zn-about-actions { margin-top: 50px;  margin-bottom: 30px;}
.is-first .zn-about-action-back {display: none;}
.is-last .zn-about-action-next {display: none;}
.zn-about-action { padding: 15px 30px; color:#fff; background: #cd2122; display: inline-block; cursor: pointer; border-radius:5px; font-size: 13px; font-weight: 600; text-transform: uppercase; border:none; }
.zn-about-action:hover{background: #991A1A;}
.zn-action-green { background: #319c48; }
.zn-action-green:hover { background: #236C32; }
.zn-action--gray { background: #BFBFBF; }
.zn-action--gray:hover { background: #aaa; }
.zn-action-wide { padding: 25px 75px; }
.zn-action-md { padding: 15px 45px;  }
.zn-about-action .dashicons { font-size: 30px; vertical-align: middle; height: 30px; margin-left: 10px; opacity: 0.5;}
.zn-about-action-back .dashicons { margin-left: 0; margin-right: 10px; }
.zn-about-action span { display: inline-block; line-height: 30px; vertical-align: middle;}

/* Register form */
.zn-about-register-form { margin-bottom: 50px; }
.zn-about-form-field label { display: block; font-weight: 600; font-size: 13px; color:#383838; text-transform: uppercase; margin-bottom: 15px; }
.zn-about-form-field input { padding: 20px 25px; border:1px solid #dbdbdb; width: 99%; margin-bottom: 30px; }
.zn-about-register-form-submit { /*float: right;*/ padding-top: 10px; padding-bottom: 10px;}

.zn-about-label-desc {margin-bottom: 10px;}
.tfusername-link--nope {pointer-events:none; opacity:.6; cursor: not-allowed;}

.zn-about-form-field input:empty {}
.zn-submitting .zn-about-register-form-submit { background: #BFBFBF; }

/* Plugins */
.zn-extensions-list { list-style: none; margin: 0 -15px; overflow: hidden;  padding: 35px 0; }
.zn-extensions-list li {float: left;width: 33.3333%;padding: 0 15px;box-sizing: border-box;margin-bottom: 30px;}
.zn-extensions-list li .zn-extension-inner {  border: 1px solid #EAEAEA; background-color: #fff; padding: 30px 0px 0; text-align: center; box-shadow: 0px 5px 5px -4px #D2D0D0;}
.zn-extensions-list li .zn-extension-status { border: 1px solid #BFBFBF; color:#868686; border-radius: 3px; padding: 5px 10px; margin-bottom: 15px; display: inline-block;}
.zn-extensions-list .zn-active .zn-extension-status {border: 1px solid #6CD4E4;color: #6CCDE4;}
.zn-extensions-list .zn-has-update .zn-extension-status {border: 1px solid #E4B96C;color: #E4A46C;}
.zn-extensions-list li .zn-extension-author {  color:#DCDCDC;  }
.zn-extension-info {border-bottom:1px solid #EAEAEA;padding: 0 15px;min-height: 210px;}
.zn-extension-title {font-size:18px}
.zn-extension-actions {  }

/* deprecated plugins */
.zn-extension-deprecatetd { background: #E88585; padding:10px 15px; color:#fff; border-radius: 3px;}

/* Addons button */
.zn-extension-button {padding: 15px 0px; display: block; background: #FBFBFB; text-transform: uppercase; color: #000; font-weight: 700; font-size: 13px; transition: all .15s ease-out;}
.zn-extension.zn-active .zn-extension-button {background: hsl(0, 0%, 98%);color:#454545;}
.zn-extension.zn-active .zn-extension-button:hover {background: hsl(0, 0%, 96%);color:#454545;}
.zn-extension.zn-inactive .zn-extension-button {background: hsl(187, 100%, 98%);color: #64B7D9;}
.zn-extension.zn-inactive .zn-extension-button:hover {background: hsl(187, 100%, 96%);color: #64B7D9;}
.zn-extension.zn-has-update .zn-extension-button {background: hsl(27, 100%, 98%);color: #D9A764;}
.zn-extension.zn-has-update .zn-extension-button:hover {background: hsl(27, 100%, 96%);color: #D9A764;}
.zn-extension.zn-not-installed .zn-extension-button {background: hsl(0, 100%, 98%);color: #D96464;}
.zn-extension.zn-not-installed .zn-extension-button:hover {background: hsl(0, 100%, 96%);color: #D96464;}
/* Loading state */
.zn-extension-button.is-active {background: #f0f0f0; color:rgba(0,0,0,0.1) !important; pointer-events:none; position:relative;}
.zn-extension-button.is-active:after {content:'';display:inline-block;width:20px;height:20px;position:absolute;left:50%;top: 50%;margin:-10px 0 0 -10px;border:2px solid transparent;border-top-color:#787878;border-bottom-color:#787878;border-radius:50%;-webkit-animation: rotating 2s linear infinite;animation: rotating 2s linear infinite;}

/* Install dummy data */
.zn-about-dummy-wrapper { padding: 0; margin-bottom: 35px; }
.zn-about-dummy-container { position: relative; }
.zn-about-dummy-image { position: relative; overflow: hidden;}
.zn-about-dummy-image img { display: block; max-width: 100%; height: auto; }
.zn-about-dummy-details {position: absolute;top: 100%;width: 100%;background: rgba(255, 255, 255, 0.8);padding: 20px 10px;-webkit-transform: translateY(-55px);-ms-transform: translateY(-55px);transform: translateY(-55px);-webkit-transition: all .15s ease-out;transition: all .15s ease-out;box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);}
.zn-about-box:hover .zn-about-dummy-details {-webkit-transform: translateY(-100%);-ms-transform: translateY(-100%);transform: translateY(-100%);box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);}
.zn-about-dummy-title {margin-top:0;}
.zn-about-dummy-desc {}
.zn-about-dummy-actions { border-top:1px solid #EAEAEA; padding: 22px 10px;}
.zn-about-dummy-button,
.zn-popup-install-demo-button { padding: 10px 25px; background: #2257cf; color: #fff; text-transform: uppercase; display: inline-block; border-radius: 3px; font-size: 14px; font-weight: 600; text-decoration: none; margin:0 3px; }
/*.zn-about-dummy-button .dashicons { font-size: 16px; vertical-align: middle; line-height: 20px; }*/
.zn-about-dummy-button:hover,
.zn-about-dummy-button:focus { color:#fff; background-color:#1B439E; }
.zn-about-dummy-green,
.zn-popup-install-demo-button { background: #319c48; }
.zn-about-dummy-green:hover,
.zn-about-dummy-green:focus,
.zn-popup-install-demo-button:hover,
.zn-popup-install-demo-button:focus { color:#fff; background-color:#236C32; }
/* Install states */
.zn-about-dummy-install.zn-submitting { background: #BFBFBF; pointer-events:none; }
/* When installing */
.zn-about-dummy-install.zn-installing { position:relative; padding-left:50px; }
.zn-about-dummy-install.zn-installing:after {content:'ING..';}
.zn-about-dummy-install.zn-installing:before { content:''; display:inline-block; width:13px; height:13px; position:absolute; left:18px; top:10px;
border:2px solid transparent; border-top-color:#fff; border-bottom-color:#fff; border-radius:50%;- webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite; }
@-webkit-keyframes rotating {
  from {-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to {-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes rotating {
  from {-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to {-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.zn-dummy-import-block { z-index:99999; background: #ccc; opacity: 0.5; display: block; position: absolute; width:100%; height: 100%; top:0; }

/* Layout helpers */
.zn-about-container * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.znfb-row:before, .znfb-row:after, .clearfix:before, .clearfix:after { display: table; content: " "; }
.znfb-row:after, .clearfix:after {clear: both;}

.znfb-row { margin: 0 -15px; }
.znfb-col-12, .znfb-col-11, .znfb-col-10, .znfb-col-9, .znfb-col-8, .znfb-col-7, .znfb-col-6, .znfb-col-5, .znfb-col-4, .znfb-col-3, .znfb-col-2, .znfb-col-1 { float: left; padding: 0 15px; }
.znfb-col-12 {width: 100% }
.znfb-col-11 {width: 91.66666667% }
.znfb-col-10 {width: 83.33333333% }
.znfb-col-9 {width: 75% }
.znfb-col-8 {width: 66.66666667% }
.znfb-col-7 {width: 58.33333333% }
.znfb-col-6 { width: 50%; }
.znfb-col-5 {width: 41.66666667% }
.znfb-col-4 { width: 33.33333333%; }
.znfb-col-3 { width: 25%; }
.znfb-col-2 {width: 16.66666667% }
.znfb-col-1 {width: 8.33333333% }

/* Utilities */
.zn-u-pleft {padding-left:100px;}
.zn-u-pright {padding-right: 100px;}
.zn-u-text-center {text-align: center;}

/* Server status */
.zn-server-status-wrapper { display: table;border-collapse: collapse; }
.zn-server-status-row { display: table-row; border-bottom:1px solid #ccc; }
.zn-server-status-column { display: table-cell; padding: 10px; vertical-align: middle; }

.zn-server-status-column-name { font-weight: 700 }
.zn-server-status-column-icon { cursor:pointer; padding: 5px; }

.zn-server-status-wrapper a { color:#000; text-decoration: none; }

/* jQuery UI tooltips */
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.ui-tooltip {padding:8px; position:absolute; z-index:9999; -o-box-shadow: 0 0 5px #aaa; -moz-box-shadow: 0 0 5px #aaa; -webkit-box-shadow: 0 0 5px #aaa; box-shadow: 0 0 5px #aaa; max-width: 300px; }
.ui-tooltip {background: #666; color: white; border: none; padding: 0; opacity: 1; }
.ui-tooltip-content {position: relative; padding: 1em; }
.ui-tooltip-content::after {content: ''; position: absolute; border-style: solid; display: block; width: 0; }
.ui-tooltip-content::after {bottom: -10px; left: 50%; margin-left: -10px; border-color: #666 transparent; border-width: 10px 10px 0; }

/* system status colors */
.zn-system-status-ok, .zn-server-status-column-icon.dashicons-ok { color:#64C364; }
.zn-system-status-notok, .zn-server-status-column-icon.dashicons-warning { color:#DABB3F; }
.zn-system-status-no, .zn-server-status-column-icon.dashicons-no { color: #FFFFFF; background: red; border-radius: 50%; }

/* Server status buttons */
.zn-server-status-wrapper  .zn-server-status-button { color: #fff; padding: 5px 10px; }

/* RTL */

.rtl .zn-about-counter {
	margin-right: 0;
	margin-left: 15px;
}

/*#!++ Modal popup */
.zn-install-popup-template,
.zn-install-popup { display: none; }
.zn-install-popup { position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.68); width: 100%; height: 100%; z-index: 99999; }
.zn-install-popup * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.zn-install-popup-inner { position: relative; background: #fff; width: 100%; max-width: 960px; margin: 10em auto 0 auto; }
.zn-install-popup-content .zn-install-popup-content-inner { overflow: hidden; }
.zn-install-popup-side { float: left; }
.zn-install-popup-side:last-of-type { width: 45%; padding: 35px 0 35px 20px; }
.zn-install-popup-side:first-of-type { width: 55%; padding: 50px; background: #fbfbfb; }
.zn-install-popup-side img { display: block; width: 100%; box-shadow: 0 10px 56px rgba(0, 0, 0, 0.17); }
.zn-install-popup-side > div { margin-bottom: 15px; }
.zn-install-popup-header { padding: 25px 0; position: relative; border-bottom: 1px solid #f5f5f5; }
.zn-install-popup-title { margin: 0; text-align: center; font-size: 15px; }
.zn-install-popup-close-button { position: absolute; right: 0; top: 0; width: 58px; height: 100%; line-height: 38px; text-align: center; opacity: 0.5; -webkit-transition: opacity .2s ease-in-out; transition: opacity .2s ease-in-out; outline:0!important; }
.zn-install-popup-close-button:hover { opacity: 1; }
.zn-install-popup-close-button:before,
.zn-install-popup-close-button:after { content: ''; position: absolute; top: 50%; left: 50%; width: 2px; height: 16px; background: #888; margin: -7px 0 0 -1px; }
.zn-install-popup-close-button:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.zn-install-popup-close-button:after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.zn-install-popup-footer { padding: 25px 0; text-align: center; border-top: 1px solid #f5f5f5; }
.zn-popup-install-demo-button { border: 0; cursor: pointer; }
#zn_dummy_data_import_attachments_wrapper { margin-left: 25px; }
/*#!-- Modal popup */






