.priceListElement {}
.priceListElement > ul {list-style: none; margin: 0; padding: 0;}
.priceListElement > ul > li {margin-top: 5px; margin-bottom: 5px;}
.priceListElement-itemMain {margin-bottom: 10px;}

.priceListElement-itemTitle,
.priceListElement-itemPrice {font-size: 14px; color: #333333; line-height: 24px; font-weight: 700; margin: 0;}
.priceListElement-itemPrice {color: #cd2122; text-align: right;}
.priceListElement-itemDesc {font-size: 12px; color: #333; }

/* Classic Dots */
.priceListElement-dash--classic .priceListElement-itemMain {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.priceListElement-dash--classic .priceListElement-itemTitle,
.priceListElement-dash--classic .priceListElement-itemPrice {-webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto;}
.priceListElement-dash--classic .priceListElement-dottedSeparator {-webkit-box-flex: 1;-webkit-flex: 1 1 auto;-ms-flex: 1 1 auto;flex: 1 1 auto; margin-left: 3px; margin-right: 5px; margin-bottom: calc((24px - 14px) / 2);}

.priceListElement-dash--separator > ul > li {padding-bottom: 10px;}
.priceListElement-dash--separator .priceListElement-itemTitle {float: left;}
.priceListElement-dash--separator .priceListElement-itemPrice {float: right;}
.priceListElement-dash--separator .priceListElement-dottedSeparator {display: none;}

/* Dots color */
.priceListElement-dash--classic .priceListElement-dottedSeparator,
.priceListElement-dash--separator > ul > li {background-image: -webkit-radial-gradient(circle closest-side, rgba(0,0,0,.2) 99%, transparent 1%); background-image: radial-gradient(circle closest-side, rgba(0,0,0,.2) 99%, transparent 1%); background-position: bottom; background-size: 5px 3px; background-repeat: repeat-x;}

/* Dark */
.priceListElement-scheme--dark .priceListElement-itemTitle{color: #ececec;}
.priceListElement-scheme--dark .priceListElement-itemDesc {color: #9c9c9c;}
.priceListElement-scheme--dark.priceListElement-dash--classic .priceListElement-dottedSeparator,
.priceListElement-scheme--dark.priceListElement-dash--separator > ul > li  { background-image: -webkit-radial-gradient(circle closest-side, rgba(255,255,255,.35) 99%, transparent 1%); background-image: radial-gradient(circle closest-side, rgba(255,255,255,.35) 99%, transparent 1%);}
